@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    // font-family: 'Inter', sans-serif;
    font-family: "Poppins", sans-serif;
}

:root {
  --main-bg-color: #018491;  
  --head-bg-color: rgb(128,169,177);  
}

// Navbar
.navbar{
    .container-fluid{
        .collapse{
            ul{
               .nav-item{
                    margin-right: 26px;
                    .nav-link{
                        font-size: 16px;
                        font-weight: 600;
                    }
               } 
            }
            .d-flex{
                .btn-primary{
                    background-color: var(--main-bg-color);
                    border-color: var(--main-bg-color);
                    width: 170px;
                }:hover{
                    border-radius: 15px;
                }
            }
        }
    }
}
// End Navbar

// Header
.head{
    padding-top: 40px;
    padding-bottom: 40px;
    height: fit-content;
    background-color: var(--head-bg-color) ;
    .row{
        .kiri{
            .content{
                h2{
                    font-weight: bold;
                    font-size: 45px;
                    color: #fff;
                    margin-bottom: 40px;
                }
                p{
                    font-weight: regular;
                    font-size: 20px;
                    color: #fff;
                }
                .btn-primary{
                    margin-top: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 20px;
                    padding-left: 20px;
                    background-color: white;
                    color: var(--main-bg-color);
                    border-color: var(--main-bg-color);
                }:hover{
                    border-radius: 15px;
                }
            }
        }
        .kanan{
            .img-fluid{
                width: 500px;
                height: 500px;
            }
        }
    }
}
// End Header

// About Us
.about-us{
    padding-top: 86px;
    padding-bottom: 100px;
    .kanan{
        .ratakan{
            text-align: end;
            h3{
                font-weight: 600;
                font-size: 35px;
                margin-bottom: 10px;
            }
            .btn-primary{
                background-color: var(--main-bg-color);
                border-color: var(--main-bg-color);
                font-size: 16px;
                color: #fff;
                font-weight: 500;
                width: 240px;
            }:hover{
                border-radius: 15px;
            }
        } 
        @media(max-width: 932px){
            .ratakan{
                text-align: center;
            }
        }   
    }
    @media(max-width: 932px){
        .kanan{
            margin-top: 50px;
            display: flex;
            justify-content: center !important;
            align-items: center;
        }
    }
}
// End About Us

//Why Should We
.why-should-we{
    margin-bottom: 170px;
    .why{
        margin-bottom: 74px;
        font-weight: bold;
        font-size: 35px;
    }
    .row{
        .col-md-4{
            .card{
                padding:18px;
                .card-body{
                    .card-title{
                        font-weight: bold;
                        font-size: 20px;
                        margin-top: 14px;
                        margin-bottom: 18px;
                    }
                    .card-text{
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
//End Why Should We